name: Tests

on:
  push: 
    branches: [ "main" ]
  pull-request:
    branches: [ "main" ]

jobs:
  test-parser:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name
